html {
  font-family: "Roboto", serif;
}

header {
  background-color: #00919d;
}

h1 {
  color: #fff;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner {
  max-height: 24em;
  overflow: hidden;
}

.current {
  background-color: red;
}

.nav {
  display: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

[type="checkbox"].nav-check + label::before {
  position: absolute;
  top: -5em;
}

.nav-label img {
  display: block;
  width: 100%;
  max-width: 2em;
}

.nav-check:checked ~ .nav-label {
  background-color: grey;
}

.nav-label {
  cursor: pointer;
}

.all-cards {
  background-color: #bfbec0;
}

.card-content {
  background-color: #fff;
}

.section-home {
  background-color: #bfbec0;
}

footer {
  background-color: #00919d;
  color: #fff;
}
