@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Roboto", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100%;
}

header {
  background-color: #00919D;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner {
  position: relative;
  max-height: 24em;
  overflow: hidden;
}

.banner-content {
  position: absolute;
}

.current {
  background-color: red;
}

.nav {
  display: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  position: absolute;
}

.nav-check:checked ~ .nav-label {
  background-color: grey;
}

.nav-label {
  cursor: pointer;
}

.card

.section-home {
  background-color: #BFBEC0;
}

footer {
  background-color: #00919D;
  color: #fff;
}
