html {
  font-family: Roboto, serif;
}

header {
  background-color: #1f8089;
}

.sign-up {
  background-color: #cc4e00;
}

.sign-up-p {
  color: #fff;
}

h1 {
  color: #fff;
  list-style-type: none;
}

h2 {
  color: #fff;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #ededed;
  color: #1f8089;
}

.banner-home p {
  color: #fff;
}

.banner-tour p {
  color: #fff;
}

.banner-pricing p {
  color: #fff;
}

.btn-banner {
  background-color: #cc4e00;
  border: 3px solid #cc4e00;
}

.btn-banner:hover {
  background-color: #fff;
  border: 3px solid #fff;
  color: #cc4e00;
}

.banner-tour .btn-banner {
  background-color: #58595b;
  border: 3px solid #58595b;
}

.banner-pricing .btn-banner {
  background-color: #2fc0cc;
  border: 3px solid #2fc0cc;
}

.btn-teal {
  background-color: #1f8089;
  border: 3px solid #1f8089;
}

.cards2 {
  background-color: #bfbec0;
}

.card2content {
  background-color: #fff;
}

.banner-home {
  background-image: url("../images/banner-homepage.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 100%;
}

.banner-tour {
  background-image: url("../images/banner-learn-more.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 100%;
}

.banner-pricing {
  background-image: url("../images/banner-pricing.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 100%;
}

.banner-home h2 {
  text-shadow: 2px 2px 10px black;
}

.banner-tour h2 {
  text-shadow: 2px 2px 10px black;
}

.banner-pricing h2 {
  text-shadow: 2px 2px 10px black;
}

.banner-content {
  width: 100%;
}

.card-illustrations {
  height: 100%;
}

.home {
  color: #fff;
  text-decoration: none;
}

.home:hover {
  color: #cc4e00;
}

.nav {
  display: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

[type="checkbox"].nav-check + label::before {
  position: absolute;
  top: -5em;
}

.nav-label img {
  display: block;
  width: 100%;
  max-width: 2.5em;
}

@media only screen and (min-width: 60em) {

  .nav {
    display: inline;
  }

  .nav-label img {
    display: none;
  }

  .nav li {
    display: inline;
  }

}

.nav-check:checked ~ .nav-label {
  background-color: grey;
}

.nav-label {
  cursor: pointer;
}

.all-cards {
  background-color: #bfbec0;
}

.card-content {
  background-color: #fff;
}

.section-home {
  background-color: #bfbec0;
}

footer {
  background-color: #1f8089;
  color: #fff;
}

fieldset {
  border: 0;
}

.login {
  background-color: #bfbec0;
}

.login-white {
  background-color: #fff;
}

.key-features {
  background-color: #bfbec0;
}

.key-section {
  background-color: #fff;
}

.btn-login {
  background-color: #fff;
  border: 3px solid #fff;
  color: #cc4e00;
}

.cards-prices {
  background-color: #bfbec0;
}

.price {
  background-color: #fff;
}

.btn-orange {
  background-color: #cc4e00;
  border: 3px solid #cc4e00;
  color: white;
}

table {
  min-width: 25em;
}

.img-width {
  width: 200px;
  height: 200px;
}

.btn-tour:hover {
  background-color: #fff;
  border: 3px solid #fff;
  color: #58595b;
}

.sign-in {
  border-radius: 50%;
  max-height: 100%;
}

.orange-text {
  color: #cc4e00;
}

.teal-text {
  color: #1f8089;
}

.question {
  background-color: #58595b;
}

.ask {
  color: #fff;
}
